.stProgress > div > div > div > div {
    background-color: #48cae4;
}

/* assets/styles.css */
.lds-dual-ring {
    display: inline-block;
    width: 30px;  /* Smaller size */
    height: 30px;  /* Smaller size */
    vertical-align: middle;  /* Align with the header */
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 24px;  /* Smaller size */
    height: 24px;  /* Smaller size */
    margin: 2px;  /* Smaller margin */
    border-radius: 50%;
    border: 3px solid red;  /* Red color */
    border-color: red transparent red transparent;  /* Red color */
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}